<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="/css/font.css">
    <script src="/js/jquery-3.6.0.min.js"></script>


</head>





<body class="bg-light">

        
        <% if (vaild) { %>
            <div class="container w-25">
                <div class="mt-5 text-center mb-4">
                    <%- msg%>
                </div>
                    <div id="resetPasswordMsg">
                        <h3>Login</h3>
    
    
                    </div>
                    <div class="input-group input-group-sm mb-3 mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">New Password </span>
                        </div>
                        <input type="password" class="form-control" aria-label="Small" name="password"
                            id="resetPassword-password" aria-describedby="inputGroup-sizing-sm">
                    </div>
    
                    <div class="input-group input-group-sm mb-2  mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Confrim Password</span>
                        </div>
                        <input type="password" class="form-control" aria-label="Small" name="repassword"
                            id="resetPassword-repassword" aria-describedby="inputGroup-sizing-sm">
                    </div>
    
    
                    <div class="input-group input-group-sm mb-3">
                        <button class="btn btn-primary" type="button" id="resetPasswordButton"
                            onclick="resetPasswordProcess()">Reset Password</button>
                    </div>
    
            </div>
            <% } else { %>
                <div class="container w-50">
                    <div class="mt-5 text-center mb-4">
                       <h6> <%- msg%></h6>
                    </div>
                </div>
        <% } %>
        


</body>















<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/popper.js"></script>


</html>